
#hypers li{
  display: block;
  background-color: lightblue;
  font-size: 60px;
  height: 70px;     /* height of the red box */
  width: 500px;      /* width of the red box */
  position: center;  /* keeps words center the tabs */
  margin: 100px;      /* margin50% for the gabs inbetween the tabs */
  margin-top: 100px; /* moves the margin for the top tabs up */



}

#hypers li a{
  text-decoration: none;  /* removes the underline under for the links */
  /*list-style-type:none removes only the bullet points but not underline.*/
  color: black;

}

#top_hypers ul{
  text-align: center;   /* keeps the tabs in the center */
  margin-left:auto;
  margin-right:auto;
  width:800px;
}

#top_hypers li:hover{ /* so weird, if there is a space between li:" then the boarders will appear around the word instead
                         and the width and height which was applyed will not work*/
  width: 500px;
  height: 70px;
  border: 5px solid black;




}

.center{
resize: both;
display: block;
margin-left: auto;
margin-right: auto;
width: auto;
height: 100%;
border: 10px solid white;


}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 50 4px;

}

.column img {
  border: 10px solid black;
  margin-top: 10px;
  vertical-align: center;
  width: auto;
  height: 80%;
}

#auto {
  width:1000px;
  height: 0em;
  padding: 5em 10em 10em 10em;
  border: 5px solid black;
}

#auto {overflow: auto;}

.column1 img {
  border: 10px solid black;
  margin-top: 100px;
  margin-left: 400px;
  width: auto;
  height: 70%;
  -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}
