
/*</style>
h1{
  color: blue;
  background-color: yellow;
  border: 1px solid black;
}
*/
body{
  margin: 0; /*margin used to shift the page from the left to the right*/
  padding: 100;
  animation: bgcolor infinite 30s; /*speed at ehich the bgcolor will infinitely look at*/
}
/*h2{
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 5em;
  color: #fff;
  position: absoulte;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */
@keyframes bgcolor{
  0%
  {
    background:#eccc68 ;
  }
  20%
  {
    background:#ff7f50 ;
  }
  40%
  {
    background:#ff6b81 ;
  }
  60%
  {
    background:#ff4757 ;
  }
  80%
  {
    background: #5352ed;
  }
  100%
  {
    background:#3742fa ;
  }
}
